.cont-testi {
  padding-top: 10rem;
}
.testimonial {
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  margin: 0 10px;
  width: 35rem;
}

.testimonial-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.testimonial h3 {
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #333;
}

.testimonial p {
  font-size: 1em;
  color: #666;
}
