.hero_home {
  position: relative;
  width: 100%; /* Atur sesuai kebutuhan */
  /* max-width: 600px; */
}
.hero_home img {
  width: 100%;
  height: auto;
}
.caption_hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  gap: 5rem;
  padding: 20px;
  color: var(--merah);
}
.left_hero {
  flex-basis: 65%;
  width: 70rem;
}

.left_hero {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.left_hero .img_hero {
  width: 45rem;
  height: auto;
}
.cont_cart_promo {
  display: flex;
  justify-content: space-evenly;
}
.cartPromo {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartPromo .img_promo {
  width: 12rem;
}
.des_cartPromo {
  color: black;
  padding-right: 0.5rem;
}
.right_hero {
  flex-basis: 35%;
  margin: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.714);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
}
.form_label {
  font-weight: 500;
  font-size: 1.2rem;
}
/* 
---------------
lending section
---------------
*/
.lending-section {
  background-color: #f4f7fa;
  padding-inline: 10rem;
  padding-block: 5rem;
}
.lending-section h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--merah);
  text-align: center;
}
/* 
---------------
lending section
---------------
*/
.keunggulan {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}
.keunggulan img {
  height: 30rem;
}
.keunggulan_right {
  width: 40rem;
}
.keunggulan_right ul li {
  font-size: 2rem;
  font-weight: 600;
}
.cont-testimonial {
  margin-top: 10rem;
}
